# Project: Customer Segmentation and Analysis
## Stage One: Data Wrangling (Cleaning and Preparation)
This is the first stage or step of the project where I focus on preparing the data from a U.K based and registered non-store online retail for the Exploratory Data Analysis (EDA) stage and to undertake Customer Segmentation and Analysis. 
In this stage of the project, I will be undertaking the following tasks;
1. Removing duplictae values and entries
2. Removing all null values
3. Correcting column data types
4. Correcting data anomalies
5. Formatting data values for further analysis
and some other data cleaning tasks to prepare the data for EDA and Segmentation Analysis.

### Dataset Overview
The dataset used for this project encompasses a diverse array of more than 500K transactions, capturing the interactions of customers with the online retail platform. Features such as transaction dates, purchase amounts, and customer identifiers form the foundation for a comprehensive exploration of customer dynamics.

### Columns Description
For each data record, there are 8 variables. These are:
1. __InvoiceNo__: This is a 6-digit integer number, uniquely assigned to each transaction.
                  If code starts with a 'C', it indicates a cancelled transaction.
   
2. __stockCode__: This is a 5-digit integer number uniquely assigned to distinct product on the online retail store.

3. __Description__: Product(item) name.

4. __Quantity__: The count or quantities of each product(item) per transaction.

5. __InvoiceDate__: Invoice date and time. Day and time when each transaction was generated.

6. __UnitPrice__: Product price per unit in pound sterling.

7. __CustomerID__: 5-digit number uniquely assigned to each customer.

8. __Country__: Country where each customer resides.

__NB:__ Comments have been included in each code cell to guide users and viewers through the data wrangling process.

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('online_retail_data.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df.shape

(541909, 8)

__The above output indicates that the dataset has _541909_ rows and _8_ columns__.

In [4]:
# Lets run a descriptive statistics on our dataset
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [5]:
df.describe(include = 'O')

,InvoiceNo,StockCode,Description,Country
count,541909,541909,540455,541909
unique,25900,4070,4223,38
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom
freq,1114,2313,2369,495478

In [6]:
# Lets check the datatypes of our columns
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [7]:
# Lets display a summary of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

__Form the information generated above, the "Description" and "CustomerID" column have missing or null values__

In [8]:
# Lets find the number or count of missing values in the "Description" and "CustomerID" columns
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

__The "Description" column has _1454_ missing values and the "CustomerID" column has the highest number of missing values _135080___

In [9]:
# Lets remove all rows with null values
df.dropna(inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [11]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

__All null values have been removed form the dataset__

In [12]:
# Changing datatype of the customer Id column from float to integer
df['CustomerID'] = df['CustomerID'].astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  int32
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(4)
memory usage: 26.4+ MB

In [14]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [15]:
# Displaying the number of unique values in each column of the dataset
df.nunique()

InvoiceNo      22190
StockCode       3684
Description     3896
Quantity         436
InvoiceDate    20460
UnitPrice        620
CustomerID      4372
Country           37
dtype: int64

In [16]:
# displaying the records of invoices that start with a 'C' indicating cancelation
character = 'C'  # The specific character to search for
filtered_df = df[df['InvoiceNo'].str.contains(character, na=False)]
print(filtered_df['InvoiceNo'])

141       C536379
154       C536383
235       C536391
236       C536391
237       C536391
           ...
540449    C581490
541541    C581499
541715    C581568
541716    C581569
541717    C581569
Name: InvoiceNo, Length: 8905, dtype: object

__There are a total of _8905_ invoices that indicate a cancelled transaction__

In [17]:
# We create a function to check if a transaction was canceled or not and create a new column to store that information

def trans_check(df, column_name, character):
    # Check if the character exists in the column
    df['transaction_type'] = df[column_name].apply(lambda x: 'cancelled' if character in str(x) else 'sale')
    return df

# Applying the above function
df = trans_check(df, 'InvoiceNo', 'C')

In [18]:
# Checking if the changes were made
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,transaction_type
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,sale
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,sale
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,sale
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,sale
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,sale
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,sale
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,sale

In [19]:
# Checking the number of negative values or entries in the quantity column

negative_values = df[df['Quantity'] < 0]['Quantity']
negative_values

141       -1
154       -1
235      -12
236      -24
237      -24
          ..
540449   -11
541541    -1
541715    -5
541716    -1
541717    -5
Name: Quantity, Length: 8905, dtype: int64

__The above output shows a total of _8905_ values or entries with negative values. This corresponds to the number of cancelled transactions in the dataset.__

In [20]:
# Checking the number of negative values or entries in the "UnitPrice" column

neg_values = df[df['UnitPrice'] < 0]['UnitPrice']
neg_values

Series([], Name: UnitPrice, dtype: float64)

__For the "UnitPrice" column, there are no negative values or entries.__

__Since we know that all negative values in the "Qunatity" correspond to cancelled transactions in the "transaction_type" column, we can remove the negative signs from the vlaues in that column by using the `absolute` function.
The letter "C" that starts the invoice numbers in the "InvoiceNo" column can also be taken off.__

In [21]:
# Changing datatype of the customer Id column to float
df['CustomerID'] = df['CustomerID'].astype(int)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         406829 non-null  object
 1   StockCode         406829 non-null  object
 2   Description       406829 non-null  object
 3   Quantity          406829 non-null  int64
 4   InvoiceDate       406829 non-null  datetime64[ns]
 5   UnitPrice         406829 non-null  float64
 6   CustomerID        406829 non-null  int32
 7   Country           406829 non-null  object
 8   transaction_type  406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(5)
memory usage: 29.5+ MB

In [23]:
# Retrieve entries in the 'InvoiceNo' column that have NaN values

nan_values = df[df['InvoiceNo'].isna()]['InvoiceNo']
nan_values

Series([], Name: InvoiceNo, dtype: object)

In [24]:
# Check if values in 'InvoiceNo' column contain the character 'C'
mask = df['InvoiceNo'].str.contains('C', na=False)

# Remove the character 'C' from values in 'InvoiceNo'
df.loc[mask, 'InvoiceNo'] = df.loc[mask, 'InvoiceNo'].str.replace('C', '')

In [25]:
# Print the modified DataFrame
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[406829 rows x 9 columns]

In [26]:
# Lets check and filter out non-digit values in the "InvoiceNo" column
# Lets import the RegEx module
import re

# Lets create a pattern that matches any non-digit character values
pattern = r'\D'

# Lets use the str.contains method with the regular expression pattern to create a boolean mask
mask = df['InvoiceNo'].str.contains(pattern, na = False)
non_digit = df[mask]

In [27]:
# Lets print out the new non-digit dataframe
print(non_digit)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, transaction_type]
Index: []

__The output above showed no results__

In [28]:
# lets use a different approach to confirm the above results
# First lets check for Na/Nan Values in the InvoiceNo column

nan_values = df['InvoiceNo'].isna()
nan_results = df[nan_values]
print(nan_results)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, transaction_type]
Index: []

__For the "InvoiceNo" column there are no non-digit values and also no Na/Nan Values__

In [29]:
# Lets convert the "InvoiceNo" column datatype from float to integer

df['InvoiceNo'] = df['InvoiceNo'].astype(int)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         406829 non-null  int32
 1   StockCode         406829 non-null  object
 2   Description       406829 non-null  object
 3   Quantity          406829 non-null  int64
 4   InvoiceDate       406829 non-null  datetime64[ns]
 5   UnitPrice         406829 non-null  float64
 6   CustomerID        406829 non-null  int32
 7   Country           406829 non-null  object
 8   transaction_type  406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), int64(1), object(4)
memory usage: 27.9+ MB

In [31]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,transaction_type
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,sale
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,sale
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,sale
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,sale
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,sale
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,sale
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,sale

__From the Dataset description, "StockCode" is a 5-digit number uniquely assigned to each distinct product. Will remove any trailing letters from the StockCode and convert the column to an integer datatype__

In [32]:
# Lets remove any trailing letters from the end of the StockCodes
# Retrieve all StockCode values that have trailing letters

filtered_stock_values = df[df['StockCode'].str.contains('.*[a-zA-Z]$', na = False)]
print(filtered_stock_values)

        InvoiceNo StockCode                          Description  Quantity  \
0          536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
2          536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3          536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
45         536370      POST                              POSTAGE         3
...           ...       ...                                  ...       ...
541778     581578    84997C      CHILDRENS CUTLERY POLKADOT BLUE         8
541809     581579    85099C       JUMBO  BAG BAROQUE BLACK WHITE        10
541838     581580    84993A            75 GREEN PETIT FOUR CASES         2
541844     581580    85049A        TRADITIONAL CHRISTMAS RIBBONS         1
541853     581580    85049E            SCANDINAVIAN REDS RIBBONS         2

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
45     2010-12-01 08:45:00      18.00       12583          France
...                    ...        ...         ...             ...
541778 2011-12-09 12:16:00       4.15       12713         Germany
541809 2011-12-09 12:19:00       1.79       17581  United Kingdom
541838 2011-12-09 12:20:00       0.42       12748  United Kingdom
541844 2011-12-09 12:20:00       1.25       12748  United Kingdom
541853 2011-12-09 12:20:00       1.25       12748  United Kingdom

       transaction_type
0                  sale
2                  sale
3                  sale
4                  sale
45                 sale
...                 ...
541778             sale
541809             sale
541838             sale
541844             sale
541853             sale

[35675 rows x 9 columns]

__We have 35675 values in the StockCode column that have letters at the end of the value__

In [33]:
# Lets remove all the trailing letters from our values in the 'StockCode'column
# Lets define a function to remove the trailing letters from the end of the values

def remove_trailing_letter(value):
    if isinstance(value, str) and value[-1].isalpha():
        return value[:-1]
    return value

# Lets apply the above function on the 'StcokCode' column

column_name = 'StockCode'
df[column_name] = df[column_name].apply(remove_trailing_letter)
print(df)

        InvoiceNo StockCode                          Description  Quantity  \
0          536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365     71053                  WHITE METAL LANTERN         6
2          536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...       ...                                  ...       ...
541904     581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[406829 rows x 9 columns]

In [34]:
# Lets check for values that are not madeup of digits in the 'StockCode' column

non_digits = df[df['StockCode'].str.contains('^[a-zA-Z]+$', regex=True, na = False)]
non_digits

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,transaction_type
45,536370,POS,POSTAGE,3,2010-12-01 08:45:00,18.0,12583,France,sale
386,536403,POS,POSTAGE,1,2010-12-01 11:27:00,15.0,12791,Netherlands,sale
1123,536527,POS,POSTAGE,1,2010-12-01 13:04:00,18.0,12662,Germany,sale
5073,536840,POS,POSTAGE,1,2010-12-02 18:27:00,18.0,12738,Germany,sale
5258,536852,POS,POSTAGE,1,2010-12-03 09:51:00,18.0,12686,France,sale
...,...,...,...,...,...,...,...,...,...
541198,581493,POS,POSTAGE,1,2011-12-09 10:10:00,15.0,12423,Belgium,sale
541216,581494,POS,POSTAGE,2,2011-12-09 10:13:00,18.0,12518,Germany,sale
541730,581570,POS,POSTAGE,1,2011-12-09 11:59:00,18.0,12662,Germany,sale
541767,581574,POS,POSTAGE,2,2011-12-09 12:09:00,18.0,12526,Germany,sale
541768,581578,POS,POSTAGE,3,2011-12-09 12:16:00,18.0,12713,Germany,sale

In [35]:
# Lets get the indices of the filtered rows
indices_to_drop = non_digits.index

# Lets drop the filtered rows from the dataset
df.drop(indices_to_drop, inplace = True)
print(df)

        InvoiceNo StockCode                          Description  Quantity  \
0          536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365     71053                  WHITE METAL LANTERN         6
2          536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...       ...                                  ...       ...
541904     581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[405597 rows x 9 columns]

In [36]:
# Lets check if there still exist values in the 'StockCode' that are made up of letters or alphabets

column_name = 'StockCode'

# Lets create a boolean mask indicating which values are not NaN in the specified column
not_nan_mask = df[column_name].notna()

filtered_values = df[not_nan_mask & df[column_name].str.contains('^[a-zA-Z]+$', regex=True)]

# Lets check if there are any rows in the filtered_values DataFrame
if not filtered_values.empty:
    print("There are values in the column with letters.")
else:
    print("There are no values in the column with letters.")

There are no values in the column with letters.

In [37]:
# Lets check for Na/NaN values in the dataframe

nan_values = df.isna()
print(nan_values)

# Check if there are any NaN values in the entire DataFrame
if nan_values.any().any():
    print("There are NaN values in the DataFrame.")
else:
    print("There are no NaN values in the DataFrame.")

        InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        CustomerID  Country  transaction_type
0            False    False             False
1            False    False             False
2            False    False             False
3            False    False             False
4            False    False             False
...            ...      ...               ...
541904       False    False             False
541905       False    False             False
541906       False    False             False
541907       False    False             False
541908       False    False             False

[405597 rows x 9 columns]
There are no NaN values in the DataFrame.

In [38]:
# Lets now convert the 'StockCode' column to an integer datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405597 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         405597 non-null  int32
 1   StockCode         405597 non-null  object
 2   Description       405597 non-null  object
 3   Quantity          405597 non-null  int64
 4   InvoiceDate       405597 non-null  datetime64[ns]
 5   UnitPrice         405597 non-null  float64
 6   CustomerID        405597 non-null  int32
 7   Country           405597 non-null  object
 8   transaction_type  405597 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), int64(1), object(4)
memory usage: 27.9+ MB

In [39]:
# Create a boolean mask to check for non-numeric characters in the specified column

column_name = 'StockCode'
mask = df[column_name].str.contains(r'\D', regex=True, na = False)

# Use the mask to filter the DataFrame and get rows with non-numeric characters
rows_with_non_numeric = df[mask]

# Print the rows containing non-numeric characters
print(rows_with_non_numeric)

        InvoiceNo    StockCode              Description  Quantity  \
132        536381       15056B  EDWARDIAN PARASOL BLACK         2
281        536396       15056B  EDWARDIAN PARASOL BLACK         6
1219       536531       15056B  EDWARDIAN PARASOL BLACK        12
1423       536540           C2                 CARRIAGE         1
4164       536750       15056B  EDWARDIAN PARASOL BLACK         6
...           ...          ...                      ...       ...
530982     580893       15056B  EDWARDIAN PARASOL BLACK         1
533673     581098       15056B  EDWARDIAN PARASOL BLACK         6
534008     581127  BANK CHARGE             Bank Charges         1
536964     581232       15056B  EDWARDIAN PARASOL BLACK        24
541223     581495       15056B  EDWARDIAN PARASOL BLACK        36

               InvoiceDate  UnitPrice  CustomerID         Country  \
132    2010-12-01 09:41:00       5.95       15311  United Kingdom
281    2010-12-01 10:51:00       4.95       17850  United Kingdom
1219   2010-12-01 13:23:00       5.95       15485  United Kingdom
1423   2010-12-01 14:05:00      50.00       14911            EIRE
4164   2010-12-02 14:04:00       4.95       17850  United Kingdom
...                    ...        ...         ...             ...
530982 2011-12-06 12:38:00       5.95       17290  United Kingdom
533673 2011-12-07 11:42:00       5.95       14911            EIRE
534008 2011-12-07 12:45:00      15.00       16271  United Kingdom
536964 2011-12-08 10:26:00       5.95       12358         Austria
541223 2011-12-09 10:20:00       5.95       14051  United Kingdom

       transaction_type
132                sale
281                sale
1219               sale
1423               sale
4164               sale
...                 ...
530982             sale
533673             sale
534008             sale
536964             sale
541223             sale

[442 rows x 9 columns]

In [40]:
rows_with_non_numeric['StockCode'].unique()

array(['15056B', 'C2', 'BANK CHARGE'], dtype=object)

In [41]:
# Lets delete the trailing 'B' character from all values in the 'StockCode' column that matches the string '15056B'
# Using boolean indexing to filter rows with values ending in 'B'

mask = df['StockCode'].str.endswith('B', na = False)
rows_with_B = df[mask]

# Removing the trailing 'B' character using str.rstrip()
df.loc[mask, 'StockCode'] = rows_with_B['StockCode'].str.rstrip('B')

print(df)

        InvoiceNo StockCode                          Description  Quantity  \
0          536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365     71053                  WHITE METAL LANTERN         6
2          536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...       ...                                  ...       ...
541904     581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[405597 rows x 9 columns]

In [42]:
# Lets check to see if the removal of all trailing 'B' characters took effect
# Create a boolean mask to check for non-numeric characters in the specified column

column_name = 'StockCode'
mask = df[column_name].str.contains(r'\D', regex=True, na = False)

# Use the mask to filter the DataFrame and get rows with non-numeric characters
rows_with_non_numeric = df[mask]

# Print the rows containing non-numeric characters
print(rows_with_non_numeric)

        InvoiceNo    StockCode   Description  Quantity         InvoiceDate  \
1423       536540           C2      CARRIAGE         1 2010-12-01 14:05:00
4406       536779  BANK CHARGE  Bank Charges         1 2010-12-02 15:08:00
12119      537368           C2      CARRIAGE         1 2010-12-06 12:40:00
12452      537378           C2      CARRIAGE         1 2010-12-06 13:06:00
19975      537963           C2      CARRIAGE         1 2010-12-09 11:30:00
...           ...          ...           ...       ...                 ...
515000     579768           C2      CARRIAGE         1 2011-11-30 15:08:00
516484     579910           C2      CARRIAGE         1 2011-12-01 08:52:00
518905     580127           C2      CARRIAGE         1 2011-12-01 17:51:00
524450     580555           C2      CARRIAGE         1 2011-12-05 10:18:00
534008     581127  BANK CHARGE  Bank Charges         1 2011-12-07 12:45:00

        UnitPrice  CustomerID         Country transaction_type
1423         50.0       14911            EIRE             sale
4406         15.0       15823  United Kingdom             sale
12119        50.0       14911            EIRE             sale
12452        50.0       14911            EIRE             sale
19975        50.0       13369  United Kingdom             sale
...           ...         ...             ...              ...
515000       50.0       14911            EIRE             sale
516484       50.0       14911            EIRE             sale
518905       50.0       14911            EIRE             sale
524450       50.0       14911            EIRE             sale
534008       15.0       16271  United Kingdom             sale

[146 rows x 9 columns]

In [43]:
rows_with_non_numeric['StockCode'].unique()

array(['C2', 'BANK CHARGE'], dtype=object)

In [44]:
# Finding all rows the have a StockCode value of 'C2'
column_name = 'StockCode'

# Using boolean indexing to filter rows with the value 'C2'
mask = df[column_name] == 'C2'
rows_to_delete = df[mask]

# Dropping the rows that match the criteria using the drop() method
df.drop(index = rows_to_delete.index, inplace=True)
print(df)

        InvoiceNo StockCode                          Description  Quantity  \
0          536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365     71053                  WHITE METAL LANTERN         6
2          536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...       ...                                  ...       ...
541904     581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[405463 rows x 9 columns]

In [45]:
# Lets check to see if the removal of all 'C2' values took effect
# Create a boolean mask to check for non-numeric characters in the specified column

column_name = 'StockCode'
mask = df[column_name].str.contains(r'\D', regex=True, na = False)

# Use the mask to filter the DataFrame and get rows with non-numeric characters
rows_with_non_numeric = df[mask]

# Print the rows containing non-numeric characters
print(rows_with_non_numeric)

        InvoiceNo    StockCode   Description  Quantity         InvoiceDate  \
4406       536779  BANK CHARGE  Bank Charges         1 2010-12-02 15:08:00
62508      541505  BANK CHARGE  Bank Charges         1 2011-01-18 15:58:00
152966     549717  BANK CHARGE  Bank Charges         1 2011-04-11 14:56:00
175275     551945  BANK CHARGE  Bank Charges         1 2011-05-05 11:09:00
327921     565735  BANK CHARGE  Bank Charges         1 2011-09-06 12:25:00
361740     568375  BANK CHARGE  Bank Charges         1 2011-09-26 17:01:00
361741     568375  BANK CHARGE  Bank Charges         1 2011-09-26 17:01:00
407618     571900  BANK CHARGE  Bank Charges         1 2011-10-19 14:26:00
431351     573586  BANK CHARGE  Bank Charges         1 2011-10-31 14:48:00
440745     574546  BANK CHARGE  Bank Charges         1 2011-11-04 14:59:00
506357     579137  BANK CHARGE  Bank Charges         1 2011-11-28 12:51:00
534008     581127  BANK CHARGE  Bank Charges         1 2011-12-07 12:45:00

        UnitPrice  CustomerID         Country transaction_type
4406       15.000       15823  United Kingdom             sale
62508      15.000       15939  United Kingdom             sale
152966     15.000       14606  United Kingdom             sale
175275     15.000       16714  United Kingdom             sale
327921     15.000       16904  United Kingdom             sale
361740     15.000       13405  United Kingdom             sale
361741      0.001       13405  United Kingdom             sale
407618     15.000       13263  United Kingdom             sale
431351     15.000       14704  United Kingdom             sale
440745     15.000       13651  United Kingdom             sale
506357     15.000       14704  United Kingdom             sale
534008     15.000       16271  United Kingdom             sale

In [46]:
rows_with_non_numeric['StockCode'].unique()

array(['BANK CHARGE'], dtype=object)

In [47]:
# Finding all rows the have a StockCode value of 'BANK CHARGE'
column_name = 'StockCode'

# Using boolean indexing to filter rows with the value 'BANK CHARGE'
mask = df[column_name] == 'BANK CHARGE'
rows_to_delete = df[mask]

# Dropping the rows that match the criteria using the drop() method
df.drop(index = rows_to_delete.index, inplace=True)
print(df)

        InvoiceNo StockCode                          Description  Quantity  \
0          536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365     71053                  WHITE METAL LANTERN         6
2          536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...       ...                                  ...       ...
541904     581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[405451 rows x 9 columns]

In [48]:
# Lets check to see if the removal of all 'C2' values took effect
# Create a boolean mask to check for non-numeric characters in the specified column

column_name = 'StockCode'
mask = df[column_name].str.contains(r'\D', regex=True, na = False)

# Use the mask to filter the DataFrame and get rows with non-numeric characters
rows_with_non_numeric = df[mask]

# Print the rows containing non-numeric characters
print(rows_with_non_numeric)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, transaction_type]
Index: []

In [49]:
rows_with_non_numeric['StockCode'].unique()

array([], dtype=object)

__All non-digit values have been successfully removed from the `StockCode` column to satisfy the description of the values of that column as a 5-digit integer number value column__

In [50]:
# Checking for empty strings or Nan values in the StockCode column

mask = df['StockCode'] == ''
rows_with_empty_strings = df[mask]
print(rows_with_empty_strings)

        InvoiceNo StockCode Description  Quantity         InvoiceDate  \
141        536379              Discount        -1 2010-12-01 09:41:00
2239       536569                Manual         1 2010-12-01 15:35:00
2250       536569                Manual         1 2010-12-01 15:35:00
6798       536981                Manual         2 2010-12-03 14:26:00
7976       537077                Manual        12 2010-12-05 11:59:00
...           ...       ...         ...       ...                 ...
531432     580956                Manual         4 2011-12-06 14:23:00
533082     581009                Manual        -1 2011-12-07 09:15:00
534308     581145                Manual        -1 2011-12-07 13:48:00
538321     581405                Manual         3 2011-12-08 13:50:00
541541     581499                Manual        -1 2011-12-09 10:28:00

        UnitPrice  CustomerID         Country transaction_type
141         27.50       14527  United Kingdom        cancelled
2239         1.25       16274  United Kingdom             sale
2250        18.95       16274  United Kingdom             sale
6798         0.85       14723  United Kingdom             sale
7976         0.42       17062  United Kingdom             sale
...           ...         ...             ...              ...
531432       1.25       17841  United Kingdom             sale
533082     125.00       16971  United Kingdom        cancelled
534308       9.95       17490  United Kingdom        cancelled
538321       0.42       13521  United Kingdom             sale
541541     224.69       15498  United Kingdom        cancelled

[542 rows x 9 columns]

In [51]:
rows_with_empty_strings['Description'].unique()

array(['Discount', 'Manual'], dtype=object)

In [52]:
# Dropping all rows that match the criteria of having an empty string in the StockCode column
df.drop(index=rows_with_empty_strings.index, inplace=True)

# Print the DataFrame after the deletion
print(df)

        InvoiceNo StockCode                          Description  Quantity  \
0          536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365     71053                  WHITE METAL LANTERN         6
2          536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...       ...                                  ...       ...
541904     581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[404909 rows x 9 columns]

In [53]:
# Converting the "StockCode" column datatype from object to integer

df['StockCode'] = df['StockCode'].astype(int)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 404909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         404909 non-null  int32
 1   StockCode         404909 non-null  int32
 2   Description       404909 non-null  object
 3   Quantity          404909 non-null  int64
 4   InvoiceDate       404909 non-null  datetime64[ns]
 5   UnitPrice         404909 non-null  float64
 6   CustomerID        404909 non-null  int32
 7   Country           404909 non-null  object
 8   transaction_type  404909 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(3), int64(1), object(3)
memory usage: 26.3+ MB

#### From the initial investigation of the dataset, all negative quantity values represented transactions that were also cancelled
#### Since all cancelled transactions have been represented with the cancelled value in the `transaction_type` column, we can go ahead and convert all negative quantity values to their absolute values(+ values)

In [55]:
# Retrieving all negative values in the quantity column

mask = df['Quantity'] < 0
rows_with_neg_values = df[mask]
print(rows_with_neg_values)

        InvoiceNo  StockCode                        Description  Quantity  \
154        536383      35004    SET OF 3 COLOURED  FLYING DUCKS        -1
235        536391      22556     PLASTERS IN TIN CIRCUS PARADE        -12
236        536391      21984   PACK OF 12 PINK PAISLEY TISSUES        -24
237        536391      21983   PACK OF 12 BLUE PAISLEY TISSUES        -24
238        536391      21980  PACK OF 12 RED RETROSPOT TISSUES        -24
...           ...        ...                                ...       ...
540448     581490      22178    VICTORIAN GLASS HANGING T-LIGHT       -12
540449     581490      23144    ZINC T-LIGHT HOLDER STARS SMALL       -11
541715     581568      21258         VICTORIAN SEWING BOX LARGE        -5
541716     581569      84978   HANGING HEART JAR T-LIGHT HOLDER        -1
541717     581569      20979      36 PENCILS TUBE RED RETROSPOT        -5

               InvoiceDate  UnitPrice  CustomerID         Country  \
154    2010-12-01 09:49:00       4.65       15311  United Kingdom
235    2010-12-01 10:24:00       1.65       17548  United Kingdom
236    2010-12-01 10:24:00       0.29       17548  United Kingdom
237    2010-12-01 10:24:00       0.29       17548  United Kingdom
238    2010-12-01 10:24:00       0.29       17548  United Kingdom
...                    ...        ...         ...             ...
540448 2011-12-09 09:57:00       1.95       14397  United Kingdom
540449 2011-12-09 09:57:00       0.83       14397  United Kingdom
541715 2011-12-09 11:57:00      10.95       15311  United Kingdom
541716 2011-12-09 11:58:00       1.25       17315  United Kingdom
541717 2011-12-09 11:58:00       1.25       17315  United Kingdom

       transaction_type
154           cancelled
235           cancelled
236           cancelled
237           cancelled
238           cancelled
...                 ...
540448        cancelled
540449        cancelled
541715        cancelled
541716        cancelled
541717        cancelled

[8539 rows x 9 columns]

In [56]:
df.loc[mask, 'Quantity'] = df.loc[mask, 'Quantity'].abs()
print(df)

        InvoiceNo  StockCode                          Description  Quantity  \
0          536365      85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365      71053                  WHITE METAL LANTERN         6
2          536365      84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365      84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365      84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...        ...                                  ...       ...
541904     581587      22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587      22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587      23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587      23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587      22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       transaction_type
0                  sale
1                  sale
2                  sale
3                  sale
4                  sale
...                 ...
541904             sale
541905             sale
541906             sale
541907             sale
541908             sale

[404909 rows x 9 columns]

In [57]:
# Checking to make sure there are no negative values in the 'Quantity' column

mask = df['Quantity'] < 0
rows_with_neg_values = df[mask]
print(rows_with_neg_values)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, transaction_type]
Index: []

In [58]:
# Checking the 'CustomerID' column for values less than 5 characters
# Defining function to check for values with length less than 5

column_name = 'CustomerID'

def integers_with_length_less_than_5(df, column_name):
    # Convert the values in the 'CustomerID' column to strings
    column_as_str = df[column_name].astype(str)

    # Using boolean indexing to filter rows with a length of characters less than 5
    mask = column_as_str.str.len() < 5

    # Get the rows that match the criteria
    rows_with_length_less_than_5 = df[mask]

    # Return the values as a pandas Series
    return rows_with_length_less_than_5[column_name]

result = integers_with_length_less_than_5(df, column_name)
print(result)

Series([], Name: CustomerID, dtype: int32)

In [59]:
# Checking the 'CustomerID' column for values more than 5 characters
# Defining function to check for values with length more than 5

column_name = 'CustomerID'

def integers_with_length_more_than_5(df, column_name):
    # Convert the values in the 'CustomerID' column to strings
    column_as_str = df[column_name].astype(str)

    # Using boolean indexing to filter rows with a length of characters more than 5
    mask = column_as_str.str.len() > 5

    # Get the rows that match the criteria
    rows_with_length_more_than_5 = df[mask]

    # Return the values as a pandas Series
    return rows_with_length_more_than_5[column_name]

result = integers_with_length_more_than_5(df, column_name)
print(result)

Series([], Name: CustomerID, dtype: int32)

In [60]:
#Retrieving all unique country values

df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'RSA'], dtype=object)

In [61]:
# Retrieve all entry which has a country value of 'EIRE'

mask = df['Country'] == 'EIRE'
eire_countries = df[mask]
print(df[mask])

        InvoiceNo  StockCode                          Description  Quantity  \
1404       536540      22968           ROSE COTTAGE KEEPSAKE BOX          4
1405       536540      85071  BLUE CHARLIE+LOLA PERSONAL DOORSIGN         6
1406       536540      85071    CHARLIE+LOLA"EXTREMELY BUSY" SIGN         6
1407       536540      22355            CHARLOTTE BAG SUKI DESIGN        50
1408       536540      21579      LOLITA  DESIGN  COTTON TOTE BAG         6
...           ...        ...                                  ...       ...
539151     581433      22192                BLUE DINER WALL CLOCK         2
539152     581433      48187                  DOORMAT NEW ENGLAND         2
539153     581433      48184                DOORMAT ENGLISH ROSE          2
539154     581433      20685                DOORMAT RED RETROSPOT         2
539155     581433      79302               ART LIGHTS,FUNK MONKEY         6

               InvoiceDate  UnitPrice  CustomerID Country transaction_type
1404   2010-12-01 14:05:00       9.95       14911    EIRE             sale
1405   2010-12-01 14:05:00       2.95       14911    EIRE             sale
1406   2010-12-01 14:05:00       2.55       14911    EIRE             sale
1407   2010-12-01 14:05:00       0.85       14911    EIRE             sale
1408   2010-12-01 14:05:00       2.25       14911    EIRE             sale
...                    ...        ...         ...     ...              ...
539151 2011-12-08 15:54:00       8.50       14911    EIRE             sale
539152 2011-12-08 15:54:00       8.25       14911    EIRE             sale
539153 2011-12-08 15:54:00       8.25       14911    EIRE             sale
539154 2011-12-08 15:54:00       8.25       14911    EIRE             sale
539155 2011-12-08 15:54:00       2.95       14911    EIRE             sale

[7380 rows x 9 columns]

__There are a total of _7380_ entries with 'EIRE' as country values. 'EIRE' is the irish name for Ireland.
All entries with these values as country will be replaced with the value 'Ireland'.__

In [62]:
# Replacing all `EIRE` values with the value `Ireland`

column_name = 'Country'
df[column_name].replace('EIRE', 'Ireland', inplace = True)

In [63]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'Ireland', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'RSA'], dtype=object)

In [64]:
# Replacing all `RSA` values with the value `South Africa`

column_name = 'Country'
df[column_name].replace('RSA', 'South Africa', inplace = True)
df[column_name].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'Ireland', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'South Africa'], dtype=object)

In [65]:
# Retrieve all entries which has a country value of 'European Community'

mask = df['Country'] == 'European Community'
ec = df[mask]
print(ec)

        InvoiceNo  StockCode                          Description  Quantity  \
168149     551013      22839      3 TIER CAKE TIN GREEN AND CREAM         1
168150     551013      22840           ROUND CAKE TIN VINTAGE RED         2
168151     551013      22841         ROUND CAKE TIN VINTAGE GREEN         2
168152     551013      22457      NATURAL SLATE HEART CHALKBOARD          6
168153     551013      22314          OFFICE MUG WARMER CHOC+BLUE         6
168154     551013      22312           OFFICE MUG WARMER POLKADOT         6
168155     551013      22842              BISCUIT TIN VINTAGE RED         2
168156     551013      22843            BISCUIT TIN VINTAGE GREEN         2
168157     551013      22424               ENAMEL BREAD BIN CREAM         1
168158     551013      22722    SET OF 6 SPICE TINS PANTRY DESIGN         4
213465     555542      21675                 BUTTERFLIES STICKERS        12
213466     555542      21676                    FLOWERS  STICKERS        12
213467     555542      21677                     HEARTS  STICKERS        12
213468     555542      22314          OFFICE MUG WARMER CHOC+BLUE        12
213469     555542      22312           OFFICE MUG WARMER POLKADOT         6
213470     555542      22838        3 TIER CAKE TIN RED AND CREAM         2
213471     555542      22840           ROUND CAKE TIN VINTAGE RED         2
213472     555542      22841         ROUND CAKE TIN VINTAGE GREEN         2
213473     555542      22721        SET OF 3 CAKE TINS SKETCHBOOK         3
213474     555542      22193                 RED DINER WALL CLOCK         2
213475     555542      22961               JAM MAKING SET PRINTED        12
213476     555542      22452         MEASURING TAPE BABUSHKA PINK         6
213477     555542      22453         MEASURING TAPE BABUSHKA BLUE         6
213478     555542      23111                PARISIENNE SEWING BOX         2
213479     555542      22311      OFFICE MUG WARMER BLACK+SILVER          6
213480     555542      22842              BISCUIT TIN VINTAGE RED         6
213481     555542      22843            BISCUIT TIN VINTAGE GREEN         6
213482     555542      22319    HAIRCLIPS FORTIES FABRIC ASSORTED        12
213483     555542      22960             JAM MAKING SET WITH JARS         6
221924     556294      22960             JAM MAKING SET WITH JARS         2
273208     560783      22446            PIN CUSHION BABUSHKA PINK         6
273209     560783      22447            PIN CUSHION BABUSHKA BLUE         6
273210     560783      22448             PIN CUSHION BABUSHKA RED         6
273211     560783      22452         MEASURING TAPE BABUSHKA PINK         6
273212     560783      22453         MEASURING TAPE BABUSHKA BLUE         6
273213     560783      22904            CALENDAR PAPER CUT DESIGN         6
273214     560783      22720    SET OF 3 CAKE TINS PANTRY DESIGN          6
273215     560783      85132        CHARLIE AND LOLA FIGURES TINS        12
273216     560783      22449             SILK PURSE BABUSHKA PINK         6
273217     560783      23243  SET OF TEA COFFEE SUGAR TINS PANTRY         4
273218     560783      23239    SET OF 4 KNICK KNACK TINS POPPIES         6
273219     560783      23307  SET OF 60 PANTRY DESIGN CAKE CASES         24
273220     560783      23308   SET OF 60 VINTAGE LEAF CAKE CASES         24
273221     560783      23020          GLASS  SONGBIRD STORAGE JAR         1
273222     560783      22571         ROCKING HORSE RED CHRISTMAS         24
273223     560783      22572       ROCKING HORSE GREEN CHRISTMAS         24
273224     560783      23210     WHITE ROCKING HORSE HAND PAINTED        24
273225     560783      23211       RED ROCKING HORSE HAND PAINTED        24
273226     560783      23212    HEART WREATH DECORATION WITH BELL        12
273227     560783      23268  SET OF 2 CERAMIC CHRISTMAS REINDEER        12
273228     560783      23270     SET OF 2 CERAMIC PAINTED HEARTS         12
273229     560783      23213     STAR WREATH DECORATION WITH BELL        12
273230     560783      23264   SET OF 3 WOODEN SLEIGH DECORATIONS        12
273231     560783      23265     SET OF 3 WOODEN TREE DECORATIONS        12
273232     560783      21098                CHRISTMAS TOILET ROLL        12
273233     560783      72807  SET/3 VANILLA SCENTED CANDLE IN BOX        12
273234     560783      85036   CHOCOLATE 1 WICK MORRIS BOX CANDLE        12
273235     560783      85035        ROSE 3 WICK MORRIS BOX CANDLE         8

               InvoiceDate  UnitPrice  CustomerID             Country  \
168149 2011-04-26 10:54:00      14.95       15108  European Community
168150 2011-04-26 10:54:00       7.95       15108  European Community
168151 2011-04-26 10:54:00       7.95       15108  European Community
168152 2011-04-26 10:54:00       2.95       15108  European Community
168153 2011-04-26 10:54:00       2.95       15108  European Community
168154 2011-04-26 10:54:00       2.95       15108  European Community
168155 2011-04-26 10:54:00       6.75       15108  European Community
168156 2011-04-26 10:54:00       6.75       15108  European Community
168157 2011-04-26 10:54:00      12.75       15108  European Community
168158 2011-04-26 10:54:00       3.95       15108  European Community
213465 2011-06-05 12:51:00       0.85       15108  European Community
213466 2011-06-05 12:51:00       0.85       15108  European Community
213467 2011-06-05 12:51:00       0.85       15108  European Community
213468 2011-06-05 12:51:00       2.95       15108  European Community
213469 2011-06-05 12:51:00       2.95       15108  European Community
213470 2011-06-05 12:51:00      14.95       15108  European Community
213471 2011-06-05 12:51:00       7.95       15108  European Community
213472 2011-06-05 12:51:00       7.95       15108  European Community
213473 2011-06-05 12:51:00       4.95       15108  European Community
213474 2011-06-05 12:51:00       8.50       15108  European Community
213475 2011-06-05 12:51:00       1.45       15108  European Community
213476 2011-06-05 12:51:00       2.95       15108  European Community
213477 2011-06-05 12:51:00       2.95       15108  European Community
213478 2011-06-05 12:51:00      12.50       15108  European Community
213479 2011-06-05 12:51:00       2.95       15108  European Community
213480 2011-06-05 12:51:00       6.75       15108  European Community
213481 2011-06-05 12:51:00       6.75       15108  European Community
213482 2011-06-05 12:51:00       0.65       15108  European Community
213483 2011-06-05 12:51:00       4.25       15108  European Community
221924 2011-06-10 09:34:00       4.25       15108  European Community
273208 2011-07-21 10:24:00       3.35       15108  European Community
273209 2011-07-21 10:24:00       3.35       15108  European Community
273210 2011-07-21 10:24:00       3.35       15108  European Community
273211 2011-07-21 10:24:00       2.95       15108  European Community
273212 2011-07-21 10:24:00       2.95       15108  European Community
273213 2011-07-21 10:24:00       2.95       15108  European Community
273214 2011-07-21 10:24:00       4.95       15108  European Community
273215 2011-07-21 10:24:00       1.95       15108  European Community
273216 2011-07-21 10:24:00       3.35       15108  European Community
273217 2011-07-21 10:24:00       4.95       15108  European Community
273218 2011-07-21 10:24:00       4.15       15108  European Community
273219 2011-07-21 10:24:00       0.55       15108  European Community
273220 2011-07-21 10:24:00       0.55       15108  European Community
273221 2011-07-21 10:24:00      12.50       15108  European Community
273222 2011-07-21 10:24:00       0.85       15108  European Community
273223 2011-07-21 10:24:00       0.85       15108  European Community
273224 2011-07-21 10:24:00       1.25       15108  European Community
273225 2011-07-21 10:24:00       1.25       15108  European Community
273226 2011-07-21 10:24:00       1.25       15108  European Community
273227 2011-07-21 10:24:00       1.45       15108  European Community
273228 2011-07-21 10:24:00       1.45       15108  European Community
273229 2011-07-21 10:24:00       1.25       15108  European Community
273230 2011-07-21 10:24:00       1.25       15108  European Community
273231 2011-07-21 10:24:00       1.25       15108  European Community
273232 2011-07-21 10:24:00       1.25       15108  European Community
273233 2011-07-21 10:24:00       4.25       15108  European Community
273234 2011-07-21 10:24:00       4.25       15108  European Community
273235 2011-07-21 10:24:00       4.25       15108  European Community

       transaction_type
168149             sale
168150             sale
168151             sale
168152             sale
168153             sale
168154             sale
168155             sale
168156             sale
168157             sale
168158             sale
213465             sale
213466             sale
213467             sale
213468             sale
213469             sale
213470             sale
213471             sale
213472             sale
213473             sale
213474             sale
213475             sale
213476             sale
213477             sale
213478             sale
213479             sale
213480             sale
213481             sale
213482             sale
213483             sale
221924        cancelled
273208             sale
273209             sale
273210             sale
273211             sale
273212             sale
273213             sale
273214             sale
273215             sale
273216             sale
273217             sale
273218             sale
273219             sale
273220             sale
273221             sale
273222             sale
273223             sale
273224             sale
273225             sale
273226             sale
273227             sale
273228             sale
273229             sale
273230             sale
273231             sale
273232             sale
273233             sale
273234             sale
273235             sale

In [66]:
# Replacing all `European Community` values with the value `EU`

column_name = 'Country'
df[column_name].replace('European Community', 'EU', inplace = True)

In [67]:
df['Country'].nunique()

37

__The dataset has a total of _37_ unique entries in the country column.__

In [68]:
df['Country'].value_counts()

Country
United Kingdom          361255
Germany                   9096
France                    8168
Ireland                   7380
Spain                     2468
Netherlands               2330
Belgium                   1971
Switzerland               1844
Portugal                  1436
Australia                 1257
Norway                    1060
Italy                      783
Channel Islands            753
Finland                    653
Cyprus                     619
Sweden                     437
Austria                    387
Denmark                    375
Japan                      355
Poland                     336
USA                        291
Israel                     250
Unspecified                244
Singapore                  215
Iceland                    182
Canada                     150
Greece                     142
Malta                      123
United Arab Emirates        67
EU                          58
South Africa                57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              28
Bahrain                     17
Saudi Arabia                10
Name: count, dtype: int64

__The United Kingdom has the highest number of values with a total of _361255_, followed by Germany, France, Ireland, and Spain respectively making up the top 5 countries.
Saudi Arabia has the least entries with a total of _10_.
Some entries had their country as _Unspecified_ which had a total of _244_ entries.
Countries with the values as the _EU_ had a total of _58_ entries.__

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 404909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   InvoiceNo         404909 non-null  int32
 1   StockCode         404909 non-null  int32
 2   Description       404909 non-null  object
 3   Quantity          404909 non-null  int64
 4   InvoiceDate       404909 non-null  datetime64[ns]
 5   UnitPrice         404909 non-null  float64
 6   CustomerID        404909 non-null  int32
 7   Country           404909 non-null  object
 8   transaction_type  404909 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(3), int64(1), object(3)
memory usage: 26.3+ MB

In [70]:
df.rename(columns={'transaction_type':'TransactionType'}, inplace = True)

In [71]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TransactionType'],
      dtype='object')

In [72]:
# Create a new column 'TotalAmount' by multiplying 'Quantity' and 'UnitPrice'
df['TotalAmount'] = df['Quantity'] * df['UnitPrice']

# Print the DataFrame to see the new column
print(df)

        InvoiceNo  StockCode                          Description  Quantity  \
0          536365      85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365      71053                  WHITE METAL LANTERN         6
2          536365      84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365      84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365      84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...        ...                                  ...       ...
541904     581587      22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587      22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587      23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587      23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587      22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       TransactionType  TotalAmount
0                 sale        15.30
1                 sale        20.34
2                 sale        22.00
3                 sale        20.34
4                 sale        20.34
...                ...          ...
541904            sale        10.20
541905            sale        12.60
541906            sale        16.60
541907            sale        16.60
541908            sale        14.85

[404909 rows x 10 columns]

In [73]:
# Creating a new column to hold the week of the month values from the InvoiceDate coulmn

datetime_column = 'InvoiceDate'

# Extract the week of the month and format it with 'W'
df['MonthWeek'] = 'W' + (df[datetime_column].dt.day // 7 + 1).astype(str)

# Print the DataFrame to see the new column
print(df)

        InvoiceNo  StockCode                          Description  Quantity  \
0          536365      85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365      71053                  WHITE METAL LANTERN         6
2          536365      84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365      84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365      84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...        ...                                  ...       ...
541904     581587      22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587      22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587      23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587      23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587      22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       TransactionType  TotalAmount MonthWeek
0                 sale        15.30        W1
1                 sale        20.34        W1
2                 sale        22.00        W1
3                 sale        20.34        W1
4                 sale        20.34        W1
...                ...          ...       ...
541904            sale        10.20        W2
541905            sale        12.60        W2
541906            sale        16.60        W2
541907            sale        16.60        W2
541908            sale        14.85        W2

[404909 rows x 11 columns]

In [74]:
df['MonthWeek'].unique()

array(['W1', 'W2', 'W3', 'W4', 'W5'], dtype=object)

In [75]:
# Creating a new column to hold the month values from the InvoiceDate coulmn
datetime_column = 'InvoiceDate'

# Dictionary to map month integers to their corresponding shorthand names
month_names = {
    1: 'Jan', 2: 'Feb', 3: 'Mar',
    4: 'Apr', 5: 'May', 6: 'Jun',
    7: 'Jul', 8: 'Aug', 9: 'Sept',
    10: 'Oct', 11: 'Nov', 12: 'Dec'
}

# Extract the month and map it to its corresponding name
df['MonthofYear'] = df[datetime_column].dt.month.map(month_names)

# Print the DataFrame to see the new column
print(df)

        InvoiceNo  StockCode                          Description  Quantity  \
0          536365      85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1          536365      71053                  WHITE METAL LANTERN         6
2          536365      84406       CREAM CUPID HEARTS COAT HANGER         8
3          536365      84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4          536365      84029       RED WOOLLY HOTTIE WHITE HEART.         6
...           ...        ...                                  ...       ...
541904     581587      22613          PACK OF 20 SPACEBOY NAPKINS        12
541905     581587      22899         CHILDREN'S APRON DOLLY GIRL          6
541906     581587      23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907     581587      23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908     581587      22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55       17850  United Kingdom
1      2010-12-01 08:26:00       3.39       17850  United Kingdom
2      2010-12-01 08:26:00       2.75       17850  United Kingdom
3      2010-12-01 08:26:00       3.39       17850  United Kingdom
4      2010-12-01 08:26:00       3.39       17850  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85       12680          France
541905 2011-12-09 12:50:00       2.10       12680          France
541906 2011-12-09 12:50:00       4.15       12680          France
541907 2011-12-09 12:50:00       4.15       12680          France
541908 2011-12-09 12:50:00       4.95       12680          France

       TransactionType  TotalAmount MonthWeek MonthofYear
0                 sale        15.30        W1         Dec
1                 sale        20.34        W1         Dec
2                 sale        22.00        W1         Dec
3                 sale        20.34        W1         Dec
4                 sale        20.34        W1         Dec
...                ...          ...       ...         ...
541904            sale        10.20        W2         Dec
541905            sale        12.60        W2         Dec
541906            sale        16.60        W2         Dec
541907            sale        16.60        W2         Dec
541908            sale        14.85        W2         Dec

[404909 rows x 12 columns]

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 404909 entries, 0 to 541908
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        404909 non-null  int32
 1   StockCode        404909 non-null  int32
 2   Description      404909 non-null  object
 3   Quantity         404909 non-null  int64
 4   InvoiceDate      404909 non-null  datetime64[ns]
 5   UnitPrice        404909 non-null  float64
 6   CustomerID       404909 non-null  int32
 7   Country          404909 non-null  object
 8   TransactionType  404909 non-null  object
 9   TotalAmount      404909 non-null  float64
 10  MonthWeek        404909 non-null  object
 11  MonthofYear      404909 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(3), int64(1), object(5)
memory usage: 35.5+ MB

In [77]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TransactionType,TotalAmount,MonthWeek,MonthofYear
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,sale,15.30,W1,Dec
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale,20.34,W1,Dec
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,sale,22.00,W1,Dec
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale,20.34,W1,Dec
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,sale,20.34,W1,Dec
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,sale,15.30,W1,Dec
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,sale,25.50,W1,Dec
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,sale,11.10,W1,Dec
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,sale,11.10,W1,Dec
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,sale,54.08,W1,Dec

In [78]:
df.duplicated().value_counts()

False    399654
True       5255
Name: count, dtype: int64

__The above output indicates that there a _5255_ duplicate rows in the dataset.__

In [79]:
# Using the duplicated() method to create a boolean Series of duplicate rows
duplicate_rows = df[df.duplicated()]

# Print the duplicate rows
print(duplicate_rows)

        InvoiceNo  StockCode                        Description  Quantity  \
517        536409      21866        UNION JACK FLAG LUGGAGE TAG         1
527        536409      22866      HAND WARMER SCOTTY DOG DESIGN         1
537        536409      22900    SET 2 TEA TOWELS I LOVE LONDON          1
539        536409      22111       SCOTTIE DOG HOT WATER BOTTLE         1
555        536412      22327  ROUND SNACK BOXES SET OF 4 SKULLS         1
...           ...        ...                                ...       ...
541675     581538      22068        BLACK PIRATE TREASURE CHEST         1
541689     581538      23318     BOX OF 6 MINI VINTAGE CRACKERS         1
541692     581538      22992             REVOLVER WOODEN RULER          1
541699     581538      22694                       WICKER STAR          1
541701     581538      23343       JUMBO BAG VINTAGE CHRISTMAS          1

               InvoiceDate  UnitPrice  CustomerID         Country  \
517    2010-12-01 11:45:00       1.25       17908  United Kingdom
527    2010-12-01 11:45:00       2.10       17908  United Kingdom
537    2010-12-01 11:45:00       2.95       17908  United Kingdom
539    2010-12-01 11:45:00       4.95       17908  United Kingdom
555    2010-12-01 11:49:00       2.95       17920  United Kingdom
...                    ...        ...         ...             ...
541675 2011-12-09 11:34:00       0.39       14446  United Kingdom
541689 2011-12-09 11:34:00       2.49       14446  United Kingdom
541692 2011-12-09 11:34:00       1.95       14446  United Kingdom
541699 2011-12-09 11:34:00       2.10       14446  United Kingdom
541701 2011-12-09 11:34:00       2.08       14446  United Kingdom

       TransactionType  TotalAmount MonthWeek MonthofYear
517               sale         1.25        W1         Dec
527               sale         2.10        W1         Dec
537               sale         2.95        W1         Dec
539               sale         4.95        W1         Dec
555               sale         2.95        W1         Dec
...                ...          ...       ...         ...
541675            sale         0.39        W2         Dec
541689            sale         2.49        W2         Dec
541692            sale         1.95        W2         Dec
541699            sale         2.10        W2         Dec
541701            sale         2.08        W2         Dec

[5255 rows x 12 columns]

In [80]:
# Deleting all duplicate values in the dataset

df = df.drop_duplicates()

In [81]:
# Checking to verify the deletion of all duplicate values and rows

df.duplicated().value_counts()

False    399654
Name: count, dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 399654 entries, 0 to 541908
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        399654 non-null  int32
 1   StockCode        399654 non-null  int32
 2   Description      399654 non-null  object
 3   Quantity         399654 non-null  int64
 4   InvoiceDate      399654 non-null  datetime64[ns]
 5   UnitPrice        399654 non-null  float64
 6   CustomerID       399654 non-null  int32
 7   Country          399654 non-null  object
 8   TransactionType  399654 non-null  object
 9   TotalAmount      399654 non-null  float64
 10  MonthWeek        399654 non-null  object
 11  MonthofYear      399654 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(3), int64(1), object(5)
memory usage: 35.1+ MB

In [83]:
df.describe()

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,TotalAmount
count,399654.000000,399654.000000,399654.000000,399654,399654.000000,399654.000000,399654.000000
mean,560559.445716,30774.912587,13.569453,2011-07-10 12:46:01.383446784,2.907621,15288.681555,23.041940
min,536365.000000,10002.000000,1.000000,2010-12-01 08:26:00,0.000000,12346.000000,0.000000
25%,549148.000000,22029.000000,2.000000,2011-04-06 15:31:00,1.250000,13959.000000,4.950000
50%,561857.000000,22666.000000,6.000000,2011-07-29 16:24:00,1.950000,15152.000000,11.900000
75%,572035.000000,23268.000000,12.000000,2011-10-20 12:03:00,3.750000,16791.000000,19.800000
max,581587.000000,90214.000000,80995.000000,2011-12-09 12:50:00,649.500000,18287.000000,168469.600000
std,13087.440133,20616.684717,250.778916,NaN,4.452040,1710.807345,425.412835

In [84]:
## Saving the DataFrame to a CSV file, uncomment the code block below to run cell to save data frame as csv

#file_path = 'online_retail_cl.csv'
#df.to_csv(file_path, index=False)  # Set index=False to avoid saving the row indices as a column

#print("CSV file saved successfully.")